<div *ngIf="menu" class="bg-white w-full border-b border-solid border-gray-200">
  <div class="flex justify-between text-3xl">
    {{ menu?.name }}
  </div>
</div>
<div *ngIf="menu" class="bg-white w-full">
  <div class="bg-white mt-8">
    <!-- Quantity -->
    <div class="mb-6">
      <div class="block">
        <span class="font-bold text-gray-700 text-sm">Quantity:</span>
        {{ menu?.quantity }}
      </div>
    </div>

    <!-- Description -->
    <div class="mb-6">
      <div class="block text-gray-700 text-sm font-bold mb-1">
        Description:
      </div>
      <div class="text-justify">{{ menu?.description }}</div>
    </div>

    <!-- Medical conditions -->
    <div *ngIf="menu && menu.conditions && menu.conditions.length"
         class="mb-6">
      <div class="block text-gray-700 text-sm font-bold mb-2">
        Medical conditions:
      </div>
      <div>
        <div *ngFor="let medicalCondition of menu.conditions; let i = index"
             class="flex justify-between border border-gray-200 rounded w-full py-2 px-3 text-gray-700 mb-3 select-none">
          {{ medicalCondition.name }}
        </div>
      </div>
    </div>
    <div *ngIf="menu && menu.conditions && !menu.conditions.length"
         class="mb-6">
      <div class="text-gray-700 text-sm font-bold">
        There are no medical conditions.
      </div>
    </div>
  </div>
</div>

<div *ngIf="menu" class="bg-white w-full">
  <div class="flex items-center justify-between mt-8">
    <button class="bg-white hover:bg-gray-200 border border-solid border-gray-300 font-bold py-2 px-4 rounded"
            (click)="onClickBack()">
      <fa-icon [icon]="faArrowLeft"></fa-icon> Back
    </button>
    <button *ngIf="isAbleToAdd"
            (click)="onClickAddMenu()"
            class="bg-green-400 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">
      <fa-icon [icon]="faPlus"></fa-icon> Add
    </button>
    <button *ngIf="isAbleToRemove"
            [swal]="removeSwal"
            class="bg-red-400 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">
      <fa-icon [icon]="faTimes"></fa-icon> Remove
    </button>
  </div>
</div>

<div *ngIf="!menu" class="mt-16 text-6xl text-center text-green-200">
  <fa-icon [icon]="faCircleNotch" [spin]="true"></fa-icon>
</div>

<swal
  #removeSwal
  [title]="'Are you sure?\nThis action cannot be undo.'"
  confirmButtonText="Remove"
  type="error"
  [showCancelButton]="true"
  [confirmButtonColor]="'#f56565'"
  (confirm)="onClickRemoveMenu()">
</swal>
<swal #notify title="Ops" type="info"></swal>
